<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DemoConn" connectionString="Data Source=.;Initial Catalog=DemoDb;Persist Security Info=True;User ID=sa;Password=zqnb_123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Config.Common.ConnName" value="DemoConn" />
    <add key="Foo" value="FooValue" />
    <add key="FooBoolean" value="trUE" />
  </appSettings>
</configuration>