@using NbCloud.Common
@using NbCloud.Common.Tenants
@model dynamic
@{
    ViewBag.Title = "Home";
}

<h2>Home Index</h2>
@{
    return;
    var myModelHelper = MyModelHelper.Resolve();
    var propertyNameValue = myModelHelper.GetPropertyNameValue(Request.Url);
    var tenantContextHelper = TenantContextHelper.Resolve();
    var tenantContext = tenantContextHelper.GetCurrent();
    <hr />
    <h2>
        @tenantContext.UniqueName
    </h2>
    <hr />

    foreach (var item in propertyNameValue.Keys)
    {
        <p><span>@item</span>:<span>@propertyNameValue[item]</span></p>
    }
}